/** Path: theme pagelayout **/

/*********************************************************************************************

	right column: 28%
	padding left/right column: 10px
	padding center column: 20px

**********************************************************************************************/

body {
    background:  url([[pix:theme|bgtile]]) repeat scroll -70% 0 #F0F0F0;
	margin: auto 0px;
	width: auto;
    font-family: Verdana;
}

#page {
	width: 100%;
	overflow: hidden;
}

#page-header {
	float: left;
	width: 100%;
}

#page-content {
	clear: both;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#page-content #region-main-box {
	float: left;
	right: 28%;
	position: relative;
	width: 100%;
}

#page-content #region-post-box {
	float: left;
	right: 72%;
	position: relative;
	width: 100%;
}

#page-content #region-main {
	float: left;
	overflow: hidden;
	position: relative;
	margin-right: 0px;
	left: 100%;
	width: 72%;
}

#page-content #region-post {
	float: left;
	overflow: hidden;
	position: relative;
	left: 100%;
	width: 28%;
}

#page-content #region-main .region-content {
	overflow: hidden;
	padding: 20px 25px 20px 0;
}

#page-content #region-post .region-content {
	overflow: hidden;
	padding: 0 0 0 0;
}

#page-footer {
	clear: both;
	float: left;
	width: 100%;
}


/** No blocks whatsoever **/

.content-only #page-content #region-main-box {
	right: 0%;
}

.content-only #page-content #region-post-box {
	right: 100%;
}

.content-only #page-content #region-main {
	left: 100%;
	width: 100%;
}

.content-only #page-content #region-pre {
	width: 0%;
}

.content-only #page-content #region-post {
	width: 0%;
}

.pagelayout-report #page-content #region-main {overflow:auto;}
.pagelayout-report #page-content #region-main .region-content {overflow:visible;}

/*****/
.admin-toolbar-bg, .super-nav-bg {
    /*background-color: #8C8F8E;*/
    color: #F5F0F5;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.super-nav-right {
    float: right;
    margin: 0;
    padding: 0 5px;
    height: 30px;

}
.super-nav-right li{
    height: 30px;
}
.super-nav li, .super-nav-right li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.super-nav li a, .super-nav li a:visited, .super-nav li a:link, .super-nav-right li a, .super-nav-right li a:visited, .super-nav-right li a:link {
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding: 0 12px;
    text-decoration: none;
}
.super-nav {
    margin: 0;
    padding: 0;
}

.super-nav li.active ,.super-nav li:hover{
    background: #636464;
}

.super-nav li, .super-nav-right li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html body div.clear, html body span.clear {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
/*** Heading bar */

#titlebar {
    background-color: #025428;
    color: #F7F4F7;
    height: 40px;
}
#titlebar .nav {
    float: right;
    line-height: 16px;
    margin-right: 10px;
    padding: 5px;
    text-align: right;
}

/* Dashboard  */
#dashboard table{
    width: 100%;
}

#dashboard table.generaltable th, #dashboard table.generaltable td{
    border: none;
}
#dashboard table tr{
    border-bottom: 1px solid #DCDCDC;
    padding: 8px 2px !important;
    vertical-align: middle;
}
.box-module{
    background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #666666 !important;
    border-style: solid;
    border-width: 0 1px;
    display: inline-block;
    font-size: 10px !important;
    font-weight: normal;
    margin: 0 -1px;
    padding: 1px 3px !important;
    text-align: center;

}
#region-main-box .tabtree ul{
    text-align: left;
    padding-left: 5px;
}
#region-main-box .tabtree ul li a{
    margin-left: 5px;
}


/* Courses page */
.panel-head {
    background-color: #70A33C !important;
    padding: 5px;
}
.field-help {
    left: 0;
    position: relative;
    top: 0;
}

.field-help label {
    color: #888888;
    left: 3px;
    padding-left: 24px;
    position: absolute;
    top: 6px;
    z-index: 9000;
}
.field-help input {
    background: url([[pix:theme|magnifying-glass-14]]) no-repeat scroll 4px 6px #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    font-size: 17px;
    padding: 3px 10px 3px 24px;
    position: relative;
    width: 70%;
    z-index: 999;
}

#searchResults{
    margin-top: 10px;
    margin-left: 15px;
}

#searchResults ul li{
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #DCDCDC;
    padding: 8px 2px !important;
}
#searchResults .main-col{
    width: 100%;

}
#searchResults .right-col{
    float: right;
    margin-top: -25px;
}
#searchResults .right-col a{
    padding: 5px;
}

.box-tag-yellow, .box-tag-yellow span {
    background-color: #FFA500;
    border-color: #FFA500;
    color: #FFFFFF !important;
}

.box-tag-purply, .box-tag-purply span {
    background-color: #BC6580;
    border-color: #BC6580;
    color: #FFFFFF !important;
}

.box-tag-green, .box-tag-green span {
    background-color: #009900;
    border-color: #009900;
}

.box-tag {
    border-style: solid;
    border-width: 0 1px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px !important;
    font-weight: normal;
    margin: 0 -1px;
    padding: 3px 5px;
    text-align: center;

}
.courses-found{
    text-align: center;
}
div.title, div.title a, div.title a:link, div.title:visited, label.title {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}
.tip, .tip-important {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}


/** Panel layout ***/
#admin-fullscreen{
    float: left;
    width: 100%;
}
.focus-panel {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 5px #AAAAAA;
    clear: both;

}
#admin-fullscreen-left {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 70%;
    min-height: 450px;
}
#admin-fullscreen-right {
    float: left;
    margin: 0;
    padding: 0 0 5px;
    text-align: left;
    width: 30%;
}

.side-panel {
    color: #444444;
    padding: 0 2px 10px;
}
.side-panel .action-buttons ul li {
    border: medium none !important;
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
}

.side-panel ul li {
    border-bottom: 1px solid #E4E4E4;
    clear: both;
    list-style-type: none;
    padding: 4px;
}
.big-button span.left {
    background: url([[pix:theme|btn-lge-sprite]]) repeat-x scroll 0 -64px transparent;
    display: inline-block;
    line-height: 32px;
    margin: 0 4px;
}
.big-button span.mid {
    background: url([[pix:theme|btn-lge-sprite]]) no-repeat scroll 0 0 transparent;
    display: inline-block;
    line-height: 32px;
    margin-left: -4px;
    padding-left: 5px;
}
.big-button span.right {
    background: url([[pix:theme|btn-lge-sprite]]) no-repeat scroll 100% -32px transparent;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: -4px;
}
.icon_add{
    padding: 5px;
}
.btn-remove {
    background: url([[pix:theme|cross_sprite]]) no-repeat scroll -16px 0 transparent !important;
    display: inline-block;
    height: 16px;
    padding: 0 !important;
    width: 16px;

}

.btn-remove:hover {
    background: url([[pix:theme|cross_sprite]]) no-repeat scroll 0 0 transparent !important;


}

.float-right{
    float: right;
    margin-right: 10px;
}

.tip, .tip-important {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}
.marking-user-answer {
    background-color: #F2F0F5;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
/*    float: left;
    width: 750px;*/
    margin: 10px;
    padding: 10px;
    margin-right: 0 px;
}

.grid-tabs {
    border-bottom: 4px solid #BBBBBB;
    margin-bottom: 10px;
}
.grid-tabs ul {
    margin: 0;
    padding: 10px 5px 0;
}
.grid-tabs ul li {
    float: left;
    list-style-type: none;
    margin: 0 3px;
    padding: 0;
}
.grid-tabs ul li a, .grid-tabs ul li a:link, .grid-tabs ul li a:visited {
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
    color: #333333;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.grid-tabs ul li a.selected {
    background-color: #BBBBBB !important;
    font-weight: bold;
}
.grid-tabs ul li a:hover{
    background-color: #dcdcdc;
}

table.grid {
    border-collapse: collapse;
    width: 100%;
}

table.grid tr td {
    margin: 3px 0;
    padding: 0;
}
table.grid tr td {
    border-bottom: 1px solid #DCDCDC;
    padding: 10px 5px !important;
    vertical-align: middle;
}

div.title, div.title a, div.title a:link, div.title:visited, label.title {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.box-tag-grey span,.box-tag-grey a {
 background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #666666 !important;
}


.box-tag-grey{
    background-color: #E4E4E4;
    border-color: #E4E4E4;
}

.box-tag-grey,.box-tag-grey a{
    color: #666666 !important;
}

.box-tag-grey:hover{
    background-color: #336699;
    border-color: #336699;
}

.box-tag-grey:hover a,.box-tag-grey a:hover{
    color: #ffffff !important;
}

.next-arrow {
    background: url([[pix:theme|circle-play-off]]) no-repeat scroll 50% 50% transparent !important;
    display: block !important;
    height: 24px;
    width: 24px;
}
.next-arrow:hover {
    background: url([[pix:theme|circle-play-on]]) no-repeat scroll 50% 50% transparent !important;
}
.box-tag span, .box-tag a {
    border-style: solid;
    border-width: 0 1px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px !important;
    font-weight: normal;
    margin: 0 -1px;
    padding: 1px 3px !important;
    text-align: center;

}



/* Style for Tab */

.tabtree{
   border-bottom: 4px solid #BBBBBB;
   height: 23px;
   margin-bottom: 10px;
}
.tabtree ul{
/*    margin: 0;
    padding: 10px 5px 0;*/
}


.tabtree ul li a, .tabtree ul li a:link, .tabtree ul li a:visited {
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
    color: #333333;
    padding: 5px 10px;
    text-decoration: none;
}

.tabtree ul li.selected a,.tabtree ul li.selected a:hover{
    background-color: #BBBBBB!important;
    border: none!important;
    font-weight: bold;

}

.tabtree .tabrow0 li a{
   border-color: #EEEEEE;
}
.tabtree .tabrow0 li a:hover{
    background-color: #DCDCDC;
    border-color: #DCDCDC

}

.tabtree ul.tabrow0 li.here .empty{
   border: none;
}

.sub-tabs .tabtree{
   border-bottom: 2px solid #BBBBBB;
   height: 22px;
   margin-bottom: 10px;
}
/* End style for Tab */


/*Hao added*/
.main-content {
	float: left;
	width: 78%;
}

.big-button span.left {
    background: url("../images/btn-lge-sprite.png") repeat-x scroll 0 -64px transparent;
    display: inline-block;
    line-height: 32px;
    margin: 0 4px;
}

.big-button span.mid {
    background: url("../images/btn-lge-sprite.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    line-height: 32px;
    margin-left: -4px;
    padding-left: 5px;
}

.big-button span.right {
    background: url("../images/btn-lge-sprite.png") no-repeat scroll 100% -32px transparent;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: -4px;
}

.big-button span.icon_add {
    background: url("../images/add_lge.png") no-repeat scroll 0 4px transparent;
    display: inline-block;
    height: 32px;
    padding-left: 30px;
    padding-right: 10px;
	padding-top: 0 !important;
}

.big-button {
    color: #333333 !important;
    font-weight: bold;
    padding: 0 !important;
    text-decoration: none;
}

.side-panel h3 {
    background-color: #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    color: #444444;
    font-size: 1em;
    margin-top: 20px;
    padding: 5px;
}
.box-tag-blue, .box-tag-blue span {
    background-color: #006699;
    border-color: #006699;
    color: #FFFFFF !important;
}

.box-tag {
    border-style: solid;
    border-width: 1px 0;
    display: inline-block;
    margin-right: 10px!important;
}
.box-tag-orange, .box-tag-orange span {
    background-color: orange;
    border-color: orange;
}


.icon_go{
    padding: 5px 10px;
}

.section_add_menus{
    display: none;
}
#custommenu ul{
    background: #79B401!important;
    border: 1px solid #598500;
}
#custommenu ul li{
    border-right: 1px solid #598500;
}
#custommenu ul li a:hover{
    color: #ccc;
}
#titlebar {
    background-color: #333333;
    color: #FFFFFF;
    font-size: 11px;
    padding: 5px;
}
.module-title {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 3px 5px;
}
#titlebar .nav {
    float: right;
}
#titlebar .nav a {
    background: none repeat scroll 0 0 rgba(238, 238, 238, 0.3);
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    margin-right: 5px;
    padding: 3px 5px;
    text-decoration: none;
}
.next-module {
    background: url([[pix:theme|circle-arrow-east-white]]) no-repeat scroll 95% 50% rgba(238, 238, 238, 0.3) !important;
    border: medium none !important;
    display: inline-block !important;
    padding-right: 30px !important;
}
.delete-link{
    color: red;
    font-weight: bold;
}
#drop-menu-items li{
    margin: 0 13px!important;
}
.icon-course-view{
    width: 24px;
    float: left;
    padding-right: 15px;
}
.heading-title{
    padding: 20px 10px;
}
.urlselect #choosepluginreport{
    display: none;
}

/* Begin style for text */
.padded{
    padding: 5px;
}
.italic{
    font-style: italic;
}
.align-right{
    text-align: right
}
.align-left{
    text-align: left
}

/* End style for text */

/*course - content tab*/
.grid-search {
    background-color: #F2F0F5 !important;
    margin-top: -10px;
    padding: 10px 5px;
}
.reorderlink, .reorderlink:link, .reorderlink:visited {
    background: url("../theme/nimble/style/img/reorder.png") no-repeat scroll 0 50% transparent;
    color: #444444;
    font-size: 11px;
    padding: 3px 3px 3px 20px;
    text-decoration: underline;
    cursor: pointer;
}
.icon_gridreorder {
    background-image: url("../theme/nimble/style/img/v3-grid-button-reorder.png") !important;
    cursor: pointer;
    height: 16px;
    width: 50px;
    margin-top:10px;
}

#sort ul{
    list-style-type: none; padding: 0px; margin: 0px !important;
    display: table-row;
     width: 100%;
     float: left;

}
#disable_sort ul{
    list-style-type: none; padding: 0px; margin: 0px !important;

}

#sort li{
    list-style-type: none; padding: 0px; margin: 0px !important;
    display: table-row;
    width: 100%;
    float: left;

}
#disable_sort li{
    list-style-type: none; padding: 0px; margin: 0px !important;

}
.lms_row{
    border-bottom: 1px solid #EEEEEE;
	height: 22px;
    margin-top: 3px;

}
.lms_row_learner{
    border-bottom: 1px solid #EEEEEE;
    height: 22px;
    margin-top: -5px;
}

.btn-remove {
    background: url("../theme/nimble/style/img/cross_sprite.png") no-repeat scroll -16px 0 transparent !important;
    display: inline-block;
    height: 16px;
    padding: 0 !important;
    width: 16px;
}
.course-content ul.topics li.section .content {
    margin: 0 !important ;
}
/*Message*/
#page-body {
    background: url("../theme/nimble/style/img/bgtile.gif") repeat scroll -70% 0 #F0F0F0;
    color: #010101;
    height: 100%;
    padding: 10px;
}

#page-body {
    background-color: #F2F0F5 !important;
    color: #010101;
    height: 100%;
    padding: 10px 20px;
}
.admin-fullscreen {
    margin-top: 5px;
    width: 100%;
}
.admin-fullscreen tr td {
    vertical-align: top;
}

.admin-fullscreen-left {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 70%;
}

.admin-fullscreen-left .admin-fullscreen-content {
    padding: 0 10px 5px 0 !important;
}
.admin-fullscreen-content {
    padding: 5px 0;
}
.focus-panel {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 5px #AAAAAA;
    clear: both;
    margin-bottom: 10px;
    border-radius: 5px;
}
.focus-panel .search, .focus-panel .panel-head {
    background-color: #70A33C !important;
}

.focus-panel .panel-head {
    padding: 5px;
}
table.item-page-list {
    border-spacing: 0 !important;
    width: 100%;
}
.list-pager {
    padding: 10px 0;
}
.center-padded {
    padding: 10px;
    text-align: center;
}

.tip, .tip-important {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}

table.item-page-list tr td.main-col, table.grid tr td.main-col, .main-col {
    width: 100%;
}
div.title, div.title a, div.title a:link, div.title:visited, label.title {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}
.tip, .tip-important {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}
.align-right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.btn-remove-ms {
    background: url([[pix:theme|cross_sprite]]) no-repeat scroll -16px 0 transparent !important;
    display: inline-block;
    height: 16px;
    padding: 0 !important;
    width: 16px;
}
/*Autocomplete search supplier*/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../theme/nimble/style/img/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
.box-tag-lightblue, .box-tag-lightblue span {
    background-color: #99CCFF;
    border-color: #99CCFF;
    color: #444444 !important;
}

.box-tag {
    border-style: solid;
    border-width: 1px 0;
    display: inline-block;
    margin: 0 1px;
    padding: 0 !important;
}
.body-dent {
    background-color: #F2F0F5;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    margin: 10px;
    padding: 10px;
}

/*switch role button*/
.box-tag-lightorange, .box-tag-lightorange span {
    background-color: #FF8635;
    border-color: #FF8635;
}



.view-switch span {
    height: 22px !important;
    line-height: 22px !important;
}
.view-switch {
    height: 22px !important;
    margin-top: 10px !important;
}
.switch_role_span{
	margin-top:0px;
	margin-bottom:10px !important;
}
/*overlay*/
.overlay{
    background:transparent url(../theme/nimble/style/img/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#facebox_completion_course_module{
    left: 20%;
    z-index: 1000;
    position: absolute;
}

#facebox_completion_course_module .popup2 {
    border: 4px solid #333333;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    position: relative;
    left:20%;
    z-index:101;
    

   /*margin-top: -413px;*/
}
#facebox_completion_course_module .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    display: table;
    min-width: 370px;
}


#facebox_completion_course{

    left: 20%;
    position: fixed;
    top: 12px;
}

#facebox_completion_course .popup {
    border: 4px solid #333333;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    position: relative;
    left:20%;
    z-index:101;
    

   /*margin-top: -413px;*/
}
#facebox_completion_course .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    display: table;
    min-width: 370px;
}

#facebox{

    left: 20%;
    position: fixed;
    top: 12px;
}


#facebox .popup {
    border: 4px solid #333333;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    position: relative;
    left:20%;
    margin-top: 50px;
    z-index:1000;
    width: 600px;

   /*margin-top: -413px;*/
}
#facebox .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    display: table;
    min-width: 370px;
}
#assignItemBox {
    width: 600px;
}
.assign-header {
    background-color: #333333;
    padding: 10px;
}
.field-help-box label {
    color: #888888;
    left: 3px;
    padding-left: 35px;
    position: absolute;
    top: 18px;
    z-index: 9000;
}
.field-help-box input {
    /*background:url([[pix:theme|magnifying-glass-14]]) no-repeat scroll 4px 6px #FFFFFF;*/
    background:url(../theme/nimble/style/img/magnifying-glass-14.png) no-repeat scroll 4px 6px #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    font-size: 17px;
    padding: 3px 10px 3px 24px;
    width: 70%;
    z-index: 999;
}

#assignResults {
    height: 300px;
    overflow: auto;
    padding: 10px;
}
table.item-page-list {
    border-spacing: 0 !important;
    width: 100%;
}
.italic {
    font-style: italic !important;
}
.assign-footer {
    border-top: 1px solid #CCCCCC;
    padding: 10px;
}


.assign-footer-opt {
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
}

table.item-page-list tr.header-row td {
    border-bottom: 1px solid #666666;
}
table.item-page-list tr td, table.item-page-list tr th label {
    cursor: pointer;
}

table.item-page-list tr td {
    border-bottom: 1px solid #EEEEEE;
    padding: 8px 2px !important;
    vertical-align: middle;
}

.field-validation-error {
    display: block;
}

.field-validation-error, .validation-error {
    color: #CC0000;
    font-size: 11px;
    font-weight: normal;
    padding-top: 5px;
}
.input-validation-error {
    background-color: #FFCCCC;
}
/*Course - people tab*/
.float-left {
    float: left;
}
.grid-search-button {
    border: medium none;
    color: #666666;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
}

