.block_course_addmodule .content {padding:10px;}
.block_course_addmodule .editbutton {text-align:right;}

#addModule{
    font-size: 15px;
    font-weight: bold;
}
.action-buttons ul#drop-menu-items {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 4px 4px 5px #AAAAAA;
    display: none;
    margin: -5px 0 0 !important;
    padding: 0 !important;
    position: absolute;
    z-index: 999;
}

#drop-menu-items li{
    list-style: none;
    margin: 5px 10px;
}