/* 
    Document   : price
    Created on : Sep 30, 2014, 9:19:58 AM
    Author     : Tung
    Description:
        Purpose of the stylesheet follows.
*/

#pricing-list
{
    background: #96cd00 url(images/pricing-bg.jpg) no-repeat center;
    height: 525px;
    width: 100% !important;
    background-size: cover;
}
#page-body {
    background: url("../images/bg-pricing.jpg") repeat scroll -70% 0 #f0f0f0;
    color: #010101;
    height: 100%;
    min-height: 100vh;
    padding: 10px 0;
}
#pricing-list .heading
{
    font-size: 35px;
}
#pricing-list .sub-heading
{
    font-size: 20px;
}
#pricing-list .heading, #pricing-list .sub-heading
{
    letter-spacing: -1px;
    text-align: center;
    margin: 0;
}

.pricing
{
    margin: 50px auto 30px;
    max-width: 1100px;
    width: 100%;
}
.pricing-header h3, .pricing-header h4
{
    text-transform: uppercase;
    margin: 0;
}
.pricing-header h4
{
    font-size: 20px;
}
.pricing-header h4 span
{
    font-size: 14px;
    display: block;
    color: #676767;
    text-transform: none;
}
.pricing-header h3
{
    font-size: 18px;
}

.plan-disabled, .plan-disabled h4 span, .plan-disabled .features
{
    color: #ccc;
}


h3.button.gradient a
{
    padding: 10px 35px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
}

.enterprise h4
{
    font-size: 22px !important;
    text-transform: none !important;
}
.price-block.most-popular
{
/*    background: #fff url(../static/images/most-popular.png) no-repeat top right;*/
    border: 5px solid #66cc00;
    margin-top: -15px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 30px;
    margin-bottom: -15px;
}
.price-block.enterprise
{
    border: medium none;
    width: 180px;
}
.price-block.enterprise a
{
    font-weight: 600;
    border-bottom: 1px solid;
    font-size: 14px;
}
.price-block.enterprise a:hover
{
    text-decoration: none;
}
.pricing-footer span
{
    font-size: 12px;
}
.pricing-table
{
    float: left;
    margin: 0 auto 50px;
    padding: 0;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.price-block
{
    float: left;
    list-style-type: none;
    width: 175px;
    padding: 20px 5px;
    border-right: 1px solid #EAF5CD;
    text-align: center;
}
.features
{
    min-height: 220px;
    list-style: none;
    padding: 20px 0 0 0;
    font-size: 14px;
    color: #676767;
    text-align: center;
    border-top: 1px solid #E0E0E0;
    margin-top: 10px;
    line-height: 30px;
}

.pricing-choice-bracket
{
    position: relative;
    height: 15px;
    width: 81%;
    margin: 25px 10px 20px 10px;
    border: solid #fff;
    border-width: 1px 1px 0;
}

.pricing-choice-bracket::before, .pricing-choice-bracket.ico-iphone::after
{
    content: "";
    height: 24px;
    width: 0px;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: -27px;
}

.pricing-header-title h3
{
    width: 81%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
}
#four-features
{
    background: #e6e6e6;
    color: #676767;
    text-align: center;
}
#four-features h3
{
    font-size: 25px;
}
#four-features ul
{
    list-style: none;
    margin: 0 auto 20px;
    padding: 0;
    max-width: 850px;
    width: 100%;
    overflow: hidden;
}
#four-features li
{
    float: left;
    width: 22%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-right: 25px;
}
#four-features li span
{
    font-size: 15px;
    display: block;
}
#four-features img
{
    display: block;
    margin: 0 auto 10px;
}

.big-list
{
    padding: 20px;
    font-size: 12px;
    list-style: none;
}


@media (max-width: 1069px)
{

    .price-block, .price-block.enterprise
    {
        width: 33.325%;
    }
    .price-block:nth-child(3)
    {
        border-right: none;
    }
}


@media only screen and (max-width: 640px)
{

    .price-block, .price-block.enterprise
    {
        width: 50%;
    }
    .price-block
    {
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .price-block:nth-child(2)
    {
        border-right: none;
    }
    .price-block.most-popular
    {
        margin: 0;
        padding: 15px 0 10px;
    }

}

@media only screen and (max-width : 360px)
{

    .price-block, .price-block.enterprise
    {
        width: 100%;
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        background: #fff;
    }
    .price-block.most-popular
    {
        margin-bottom: 10px;
    }
    .pricing-table
    {
        background: none;
    }
}

.pricing-questions h4 {
    color: #690;
}
.code_account {
    font-weight: bold;
}