body {
	font-size: 85%;
	line-height: 1.4;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
	font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 2.25em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.25;
	margin-bottom: 0.75em;
}

h5 {
	font-size: 1em;
	margin-bottom: 1em;
}

h6 {
	font-size: 1em;
}

p {
	margin: 0 0 1em;
}



ul {
	list-style-type: circle;
}

ol {
	list-style-type: decimal;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 1.5em;
}

abbr, acronym {
	border-bottom: 1px dotted #000;
}

address {
	margin-top: 1.5em;
	font-style: italic;
}

del {
	color: #000;
}

a {
	text-decoration: none;
}

blockquote {
	margin: 1.5em;
}

strong {
	font-weight: bold;
}

em, dfn {
	font-style: italic;
}

dfn {
	font-weight: bold;
}

pre, code {
	white-space: pre;
}

pre, code, tt {
	font: 1.2em monospace;
	line-height: 1.5;
	margin: 1.5em 0;
}