#noticeboard-block{
    
}

.notice{
    border-bottom: 1px solid #DCDCDC;
    padding: 8px 2px !important;
    
}
.notice .posted{
    
}
.notice .content{
    background-color: #F2F0F5;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    margin: 10px;
    padding: 10px;
}
