.mform{
	padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

#id_category{
	border: 1px solid #d9e3e9;
    border-radius: 4px;
    max-width: 100%;
    padding: .469rem .75rem;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.felement{
	margin-bottom: 15px;
}
.felement select,input{
	border: 1px solid #d9e3e9;
    border-radius: 4px;
    max-width: 100%;
    padding: .469rem .75rem;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.felement textarea{
	border: 1px solid #d9e3e9;
    border-radius: 4px;
    width: 100%;
    padding: .469rem .75rem;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.felement #id_submitbutton, #id_cancel{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.felement #id_submitbutton {
    background-color: #4bb747;
    border: 1px solid #4bb747;

}
.felement #id_cancel{
	background-color: #f1556c;
    border: 1px solid #f1556c;
}