.ui-bar-a {
    background: -moz-linear-gradient(center top , #3C3C3C, #111111) repeat scroll 0 0 #111111;
    border: 1px solid #2A2A2A;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-a .ui-link-inherit {
    color: #FFFFFF;
}
.ui-bar-a .ui-link {
    color: #7CC4E7;
    font-weight: bold;
}
.ui-body-a {
    background: -moz-linear-gradient(center top , #666666, #222222) repeat scroll 0 0 #222222;
    border: 1px solid #2A2A2A;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: 0 1px 0 #000000;
}
.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-a .ui-link-inherit {
    color: #FFFFFF;
}
.ui-body-a .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-br {
    border-bottom: 1px solid rgba(130, 130, 130, 0.3);
}
.ui-btn-up-a {
    background: -moz-linear-gradient(center top , #555555, #333333) repeat scroll 0 0 #333333;
    border: 1px solid #222222;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
}
.ui-btn-up-a a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-hover-a {
    background: -moz-linear-gradient(center top , #666666, #444444) repeat scroll 0 0 #444444;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
}
.ui-btn-hover-a a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-a {
    background: -moz-linear-gradient(center top , #333333, #5A5A5A) repeat scroll 0 0 #3D3D3D;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000000;
}
.ui-btn-down-a a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-b {
    background: -moz-linear-gradient(center top , #81A8CE, #5E87B0) repeat scroll 0 0 #5E87B0;
    border: 1px solid #456F9A;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #254F7A;
}
.ui-bar-b, .ui-bar-b input, .ui-bar-b select, .ui-bar-b textarea, .ui-bar-b button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-b .ui-link-inherit {
    color: #FFFFFF;
}
.ui-bar-b .ui-link {
    color: #7CC4E7;
    font-weight: bold;
}
.ui-body-b {
    background: -moz-linear-gradient(center top , #E6E6E6, #CCCCCC) repeat scroll 0 0 #CCCCCC;
    border: 1px solid #C6C6C6;
    color: #333333;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-b .ui-link-inherit {
    color: #333333;
}
.ui-body-b .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-btn-up-b {
    background: -moz-linear-gradient(center top , #4E89C5, #2567AB) repeat scroll 0 0 #2567AB;
    border: 1px solid #145072;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #145072;
}
.ui-btn-up-b a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-hover-b {
    background: -moz-linear-gradient(center top , #72B0D4, #4B88B6) repeat scroll 0 0 #4B88B6;
    border: 1px solid #00516E;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #014D68;
}
.ui-btn-hover-b a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-b {
    background: -moz-linear-gradient(center top , #396B9E, #4E89C5) repeat scroll 0 0 #4E89C5;
    border: 1px solid #225377;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #225377;
}
.ui-btn-down-b a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-c {
    background: -moz-linear-gradient(center top , #F0F0F0, #E9EAEB) repeat scroll 0 0 #E9EAEB;
    border: 1px solid #B3B3B3;
    color: #3E3E3E;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-bar-c, .ui-bar-c input, .ui-bar-c select, .ui-bar-c textarea, .ui-bar-c button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-c {
    background: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD) repeat scroll 0 0 #F0F0F0;
    border: 1px solid #B3B3B3;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-c .ui-link-inherit {
    color: #333333;
}
.ui-body-c .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-btn-up-c {
    background: -moz-linear-gradient(center top , #FEFEFE, #EEEEEE) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 1px #F6F6F6;
}
.ui-btn-up-c a.ui-link-inherit {
    color: #2F3E46;
}
.ui-btn-hover-c {
    background: -moz-linear-gradient(center top , #EDEDED, #DADADA) repeat scroll 0 0 #DADADA;
    border: 1px solid #BBBBBB;
    color: #101010;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-hover-c a.ui-link-inherit {
    color: #2F3E46;
}
.ui-btn-down-c {
    background: -moz-linear-gradient(center top , #EEEEEE, #FDFDFD) repeat scroll 0 0 #FDFDFD;
    border: 1px solid #808080;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-down-c a.ui-link-inherit {
    color: #2F3E46;
}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-d {
    background: -moz-linear-gradient(center top , #DDDDDD, #BBBBBB) repeat scroll 0 0 #BBBBBB;
    border: 1px solid #CCCCCC;
    color: #333333;
    text-shadow: 0 1px 0 #EEEEEE;
}
.ui-bar-d, .ui-bar-d input, .ui-bar-d select, .ui-bar-d textarea, .ui-bar-d button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-d .ui-link-inherit {
    color: #333333;
}
.ui-bar-d .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-body-d {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-body-d, .ui-body-d input, .ui-body-d select, .ui-body-d textarea, .ui-body-d button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-d .ui-link-inherit {
    color: #333333;
}
.ui-body-d .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-btn-up-d {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-up-d a.ui-link-inherit {
    color: #333333;
}
.ui-btn-hover-d {
    background: -moz-linear-gradient(center top , #FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    color: #222222;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-hover-d a.ui-link-inherit {
    color: #222222;
}
.ui-btn-down-d {
    background: -moz-linear-gradient(center top , #EEEEEE, #FFFFFF) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-down-d a.ui-link-inherit {
    background: -moz-linear-gradient(center top , #CCCCCC, #EEEEEE) repeat scroll 0 0 #CED0D2;
    border: 1px solid #808080;
    color: #111111;
    font-weight: bold;
    text-shadow: none;
}
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-e {
    background: -moz-linear-gradient(center top , #FCEDA7, #FADB4E) repeat scroll 0 0 #FADB4E;
    border: 1px solid #F7C942;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-bar-e, .ui-bar-e input, .ui-bar-e select, .ui-bar-e textarea, .ui-bar-d button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-e .ui-link-inherit {
    color: #333333;
}
.ui-bar-e .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-body-e {
    background: -moz-linear-gradient(center top , #FFFFFF, #FAEB9E) repeat scroll 0 0 #FAEB9E;
    border: 1px solid #F7C942;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-body-e, .ui-body-e input, .ui-body-e select, .ui-body-e textarea, .ui-body-e button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-e .ui-link-inherit {
    color: #333333;
}
.ui-body-e .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-btn-up-e {
    background: -moz-linear-gradient(center top , #FCEDA7, #FADB4E) repeat scroll 0 0 #FADB4E;
    border: 1px solid #F7C942;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-up-e a.ui-link-inherit {
    color: #333333;
}
.ui-btn-hover-e {
    background: -moz-linear-gradient(center top , #FCF0B5, #FBE26F) repeat scroll 0 0 #FBE26F;
    border: 1px solid #E79952;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-hover-e a.ui-link-inherit {
    color: #333333;
}
.ui-btn-down-e {
    background: -moz-linear-gradient(center top , #FADB4E, #FCEDA7) repeat scroll 0 0 #FCEDA7;
    border: 1px solid #F7C942;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
.ui-btn-down-e a.ui-link-inherit {
    color: #333333;
}
.ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
a.ui-link-inherit {
    text-decoration: none !important;
}
.ui-btn-active {
    background: -moz-linear-gradient(center top , #85BAE4, #5393C5) repeat scroll 0 0 #4596CE;
    border: 1px solid #155678;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    outline: 0 none;
    text-decoration: none;
    text-shadow: 0 -1px 1px #145072;
}
.ui-btn-active a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-inner {
    border-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.ui-corner-tl {
    border-top-left-radius: 0.6em;
}
.ui-corner-tr {
    border-top-right-radius: 0.6em;
}
.ui-corner-bl {
    border-bottom-left-radius: 0.6em;
}
.ui-corner-br {
    border-bottom-right-radius: 0.6em;
}
.ui-corner-top {
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}
.ui-corner-bottom {
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}
.ui-corner-right {
    border-bottom-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
}
.ui-corner-left {
    border-bottom-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
}
.ui-corner-all {
    border-radius: 0.6em 0.6em 0.6em 0.6em;
}
.ui-disabled {
    opacity: 0.3;
}
.ui-disabled, .ui-disabled a {
    cursor: default !important;
}
.ui-icon {
    background: url("images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 9px 9px 9px 9px;
}
.ui-icon-alt {
    background: url("images/icons-18-black.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r, .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check, .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back, .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
    background-image: url("images/icons-36-white.png");
    background-size: 776px 18px;
}
.ui-icon-alt {
    background-image: url("images/icons-36-black.png");
}
.ui-icon-plus {
    background-position: 0 50%;
}
.ui-icon-minus {
    background-position: -36px 50%;
}
.ui-icon-delete {
    background-position: -72px 50%;
}
.ui-icon-arrow-r {
    background-position: -108px 50%;
}
.ui-icon-arrow-l {
    background-position: -144px 50%;
}
.ui-icon-arrow-u {
    background-position: -180px 50%;
}
.ui-icon-arrow-d {
    background-position: -216px 50%;
}
.ui-icon-check {
    background-position: -252px 50%;
}
.ui-icon-gear {
    background-position: -288px 50%;
}
.ui-icon-refresh {
    background-position: -324px 50%;
}
.ui-icon-forward {
    background-position: -360px 50%;
}
.ui-icon-back {
    background-position: -396px 50%;
}
.ui-icon-grid {
    background-position: -432px 50%;
}
.ui-icon-star {
    background-position: -468px 50%;
}
.ui-icon-alert {
    background-position: -504px 50%;
}
.ui-icon-info {
    background-position: -540px 50%;
}
.ui-icon-home {
    background-position: -576px 50%;
}
.ui-icon-search {
    background-position: -612px 50%;
}
.ui-icon-checkbox-off {
    background-position: -684px 50%;
}
.ui-icon-checkbox-on {
    background-position: -648px 50%;
}
.ui-icon-radio-off {
    background-position: -756px 50%;
}
.ui-icon-radio-on {
    background-position: -720px 50%;
}
.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
    background-color: transparent;
    border-radius: 0 0 0 0;
}
.ui-icon-searchfield {
    background-image: url("images/icon-search-black.png");
    background-size: 16px 16px;
}
.ui-icon-loading {
    background-image: url("images/ajax-loader.png");
    background-size: 35px 35px;
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    width: 40px;
}
.ui-btn-corner-tl {
    border-top-left-radius: 1em;
}
.ui-btn-corner-tr {
    border-top-right-radius: 1em;
}
.ui-btn-corner-bl {
    border-bottom-left-radius: 1em;
}
.ui-btn-corner-br {
    border-bottom-right-radius: 1em;
}
.ui-btn-corner-top {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.ui-btn-corner-bottom {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.ui-btn-corner-right {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}
.ui-btn-corner-left {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}
.ui-btn-corner-all {
    border-radius: 1em 1em 1em 1em;
}
.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
    background-clip: padding-box;
}
.ui-overlay {
    background: none repeat scroll 0 0 #666666;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}
.ui-overlay-shadow {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
.ui-shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.ui-shadow-inset {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.ui-icon-shadow {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.ui-focus {
    box-shadow: 0 0 12px #387BBE;
}
.ui-mobile-nosupport-boxshadow * {
    box-shadow: none !important;
}
.ui-mobile-nosupport-boxshadow .ui-focus {
    outline-width: 2px;
}
.ui-mobile, .ui-mobile body {
    height: 100%;
}
.ui-mobile fieldset, .ui-page {
    margin: 0;
    padding: 0;
}
.ui-mobile a img, .ui-mobile fieldset {
    border: 0 none;
}
.ui-mobile-viewport {
    margin: 0;
    overflow-x: hidden;
}
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
    border: 0 none;
    display: none;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-mobile .ui-page-active {
    display: block;
    overflow: visible;
}
.portrait, .portrait .ui-page {
    min-height: 100%;
}
.landscape, .landscape .ui-page {
    min-height: 100%;
}
.ui-loading .ui-mobile-viewport {
    overflow: hidden !important;
}
.ui-loading .ui-loader {
    display: block;
}
.ui-loading .ui-page {
    overflow: hidden;
}
.ui-loader {
    display: none;
    left: 50%;
    margin-left: -130px;
    margin-top: -35px;
    opacity: 0.85;
    padding: 10px 30px;
    position: absolute;
    width: 200px;
    z-index: 100;
}
.ui-loader h1 {
    font-size: 15px;
    text-align: center;
}
.ui-loader .ui-icon {
    background-color: transparent;
    display: block;
    height: 35px;
    margin: 0 auto;
    opacity: 0.9;
    position: static;
    width: 35px;
}
.ui-mobile-rendering > * {
    visibility: hidden;
}
.ui-bar, .ui-body {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0.4em 15px;
    position: relative;
}
.ui-bar {
    font-size: 16px;
    margin: 0;
}
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.ui-header, .ui-footer {
    display: block;
}
.ui-page .ui-header, .ui-page .ui-footer {
    position: relative;
}
.ui-header .ui-btn-left {
    left: 10px;
    position: absolute;
    top: 0.4em;
}
.ui-header .ui-btn-right {
    position: absolute;
    right: 10px;
    top: 0.4em;
}
.ui-header .ui-title, .ui-footer .ui-title {
    display: block;
    font-size: 16px;
    margin: 0.6em 90px 0.8em;
    outline: 0 none !important;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-content {
    border-width: 0;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 15px;
}
.ui-page-fullscreen .ui-content {
    padding: 0;
}
.ui-icon {
    height: 18px;
    width: 18px;
}
.ui-fullscreen img {
    max-width: 100%;
}
.ui-nojs {
    left: -9999px;
    position: absolute;
}
.spin {
}
.in, .out {
}
.slide.in {
}
.slide.out {
}
.slide.in.reverse {
}
.slide.out.reverse {
}
.slideup.in {
    z-index: 10;
}
.slideup.out {
    z-index: 0;
}
.slideup.out.reverse {
    z-index: 10;
}
.slideup.in.reverse {
    z-index: 0;
}
.slidedown.in {
    z-index: 10;
}
.slidedown.out {
    z-index: 0;
}
.slidedown.out.reverse {
    z-index: 10;
}
.slidedown.in.reverse {
    z-index: 0;
}
.fade.in {
    opacity: 1;
    z-index: 10;
}
.fade.out {
    z-index: 0;
}
.ui-mobile-viewport-perspective {
    position: absolute;
}
.ui-mobile-viewport-transitioning, .ui-mobile-viewport-transitioning .ui-page {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.flip {
}
.flip.in {
}
.flip.out {
}
.flip.in.reverse {
}
.flip.out.reverse {
}
.pop {
}
.pop.in {
    opacity: 1;
    z-index: 10;
}
.pop.out.reverse {
    opacity: 0;
    z-index: 10;
}
.pop.in.reverse {
    z-index: 0;
}
.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d {
    overflow: hidden;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
    border: 0 none;
    float: left;
    margin: 0;
    min-height: 1px;
    padding: 0;
}
.ui-grid-solo .ui-block-a {
    float: none;
    width: 100%;
}
.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
    width: 50%;
}
.ui-grid-a .ui-block-a {
    clear: left;
}
.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c {
    width: 33.333%;
}
.ui-grid-b .ui-block-a {
    clear: left;
}
.ui-grid-c .ui-block-a, .ui-grid-c .ui-block-b, .ui-grid-c .ui-block-c, .ui-grid-c .ui-block-d {
    width: 25%;
}
.ui-grid-c .ui-block-a {
    clear: left;
}
.ui-grid-d .ui-block-a, .ui-grid-d .ui-block-b, .ui-grid-d .ui-block-c, .ui-grid-d .ui-block-d, .ui-grid-d .ui-block-e {
    width: 20%;
}
.ui-grid-d .ui-block-a {
    clear: left;
}
.ui-header, .ui-footer, .ui-page-fullscreen .ui-header, .ui-page-fullscreen .ui-footer {
    border-left-width: 0;
    border-right-width: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.ui-header-fixed, .ui-footer-fixed {
    z-index: 1000;
}
.ui-footer-duplicate, .ui-page-fullscreen .ui-fixed-inline {
    display: none;
}
.ui-page-fullscreen .ui-header, .ui-page-fullscreen .ui-footer {
    opacity: 0.9;
}
.ui-navbar {
    overflow: hidden;
}
.ui-navbar ul, .ui-navbar-expanded ul {
    border: 0 none;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.ui-navbar-collapsed ul {
    float: left;
    margin-right: -2px;
    width: 75%;
}
.ui-navbar-collapsed .ui-navbar-toggle {
    float: left;
    width: 25%;
}
.ui-navbar li.ui-navbar-truncate {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.ui-navbar li .ui-btn, .ui-navbar .ui-navbar-toggle .ui-btn {
    border-right-width: 0;
    display: block;
    font-size: 12px;
    margin: 0;
    text-align: center;
}
.ui-navbar li .ui-btn {
    margin-right: -1px;
}
.ui-navbar li .ui-btn:last-child {
    margin-right: 0;
}
.ui-header .ui-navbar li .ui-btn, .ui-header .ui-navbar .ui-navbar-toggle .ui-btn, .ui-footer .ui-navbar li .ui-btn, .ui-footer .ui-navbar .ui-navbar-toggle .ui-btn {
    border-bottom-width: 0;
    border-top-width: 0;
}
.ui-navbar .ui-btn-inner {
    padding-left: 2px;
    padding-right: 2px;
}
.ui-navbar-noicons li .ui-btn .ui-btn-inner, .ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner {
    padding-bottom: 0.9em;
    padding-top: 0.8em;
}
.ui-navbar-expanded .ui-btn {
    font-size: 14px;
    margin: 0;
}
.ui-navbar-expanded .ui-btn-inner {
    padding-left: 5px;
    padding-right: 5px;
}
.ui-navbar-expanded .ui-btn-icon-top .ui-btn-inner {
    padding: 45px 5px 15px;
    text-align: center;
}
.ui-navbar-expanded .ui-btn-icon-top .ui-icon {
    top: 15px;
}
.ui-navbar-expanded .ui-btn-icon-bottom .ui-btn-inner {
    padding: 15px 5px 45px;
    text-align: center;
}
.ui-navbar-expanded .ui-btn-icon-bottom .ui-icon {
    bottom: 15px;
}
.ui-navbar-expanded li .ui-btn .ui-btn-inner {
    min-height: 2.5em;
}
.ui-navbar-expanded .ui-navbar-noicons .ui-btn .ui-btn-inner {
    padding-bottom: 1.9em;
    padding-top: 1.8em;
}
.ui-btn {
    cursor: pointer;
    display: block;
    margin: 0.5em 5px;
    padding: 0;
    position: relative;
    text-align: center;
}
.ui-btn:focus, .ui-btn:active {
    outline: 0 none;
}
.ui-header .ui-btn, .ui-footer .ui-btn, .ui-bar .ui-btn {
    display: inline-block;
    font-size: 13px;
    margin: 0;
}
.ui-btn-inline {
    display: inline-block;
}
.ui-btn-inner {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0.6em 25px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-bar .ui-btn-inner {
    padding: 0.4em 8px 0.5em;
}
.ui-btn-icon-notext {
    display: inline-block;
    height: 20px;
    padding: 2px 1px 2px 3px;
    text-indent: -9999px;
    width: 20px;
}
.ui-btn-icon-notext .ui-btn-inner {
    padding: 0;
}
.ui-btn-icon-notext .ui-btn-text {
    left: -999px;
    position: absolute;
}
.ui-btn-icon-left .ui-btn-inner {
    padding-left: 33px;
}
.ui-header .ui-btn-icon-left .ui-btn-inner, .ui-footer .ui-btn-icon-left .ui-btn-inner, .ui-bar .ui-btn-icon-left .ui-btn-inner {
    padding-left: 27px;
}
.ui-btn-icon-right .ui-btn-inner {
    padding-right: 33px;
}
.ui-header .ui-btn-icon-right .ui-btn-inner, .ui-footer .ui-btn-icon-right .ui-btn-inner, .ui-bar .ui-btn-icon-right .ui-btn-inner {
    padding-right: 27px;
}
.ui-btn-icon-top .ui-btn-inner {
    padding-top: 33px;
}
.ui-header .ui-btn-icon-top .ui-btn-inner, .ui-footer .ui-btn-icon-top .ui-btn-inner, .ui-bar .ui-btn-icon-top .ui-btn-inner {
    padding-top: 27px;
}
.ui-btn-icon-bottom .ui-btn-inner {
    padding-bottom: 33px;
}
.ui-header .ui-btn-icon-bottom .ui-btn-inner, .ui-footer .ui-btn-icon-bottom .ui-btn-inner, .ui-bar .ui-btn-icon-bottom .ui-btn-inner {
    padding-bottom: 27px;
}
.ui-btn-icon-notext .ui-icon {
    display: block;
}
.ui-btn-icon-left .ui-icon, .ui-btn-icon-right .ui-icon {
    margin-top: -9px;
    position: absolute;
    top: 50%;
}
.ui-btn-icon-top .ui-icon, .ui-btn-icon-bottom .ui-icon {
    left: 50%;
    margin-left: -9px;
    position: absolute;
}
.ui-btn-icon-left .ui-icon {
    left: 10px;
}
.ui-btn-icon-right .ui-icon {
    right: 10px;
}
.ui-header .ui-btn-icon-left .ui-icon, .ui-footer .ui-btn-icon-left .ui-icon, .ui-bar .ui-btn-icon-left .ui-icon {
    left: 4px;
}
.ui-header .ui-btn-icon-right .ui-icon, .ui-footer .ui-btn-icon-right .ui-icon, .ui-bar .ui-btn-icon-right .ui-icon {
    right: 4px;
}
.ui-header .ui-btn-icon-top .ui-icon, .ui-footer .ui-btn-icon-top .ui-icon, .ui-bar .ui-btn-icon-top .ui-icon {
    top: 4px;
}
.ui-header .ui-btn-icon-bottom .ui-icon, .ui-footer .ui-btn-icon-bottom .ui-icon, .ui-bar .ui-btn-icon-bottom .ui-icon {
    bottom: 4px;
}
.ui-btn-icon-top .ui-icon {
    top: 5px;
}
.ui-btn-icon-bottom .ui-icon {
    bottom: 5px;
}
.ui-btn-hidden {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-collapsible-contain {
    margin: 0.5em 0;
}
.ui-collapsible-heading {
    border-width: 0 0 1px;
    display: block;
    font-size: 16px;
    margin: 0 -8px;
    padding: 0;
    position: relative;
}
.ui-collapsible-heading a {
    margin: 0;
    text-align: left;
}
.ui-collapsible-heading a .ui-btn-inner {
    padding-left: 40px;
}
.ui-collapsible-heading a span.ui-btn {
    height: 20px;
    left: 6px;
    margin: -12px 0 0;
    padding: 1px 0 1px 2px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 20px;
}
.ui-collapsible-heading a span.ui-btn .ui-btn-inner {
    padding: 0;
}
.ui-collapsible-heading a span.ui-btn .ui-icon {
    left: 0;
    margin-top: -10px;
}
.ui-collapsible-heading-status {
    left: -9999px;
    position: absolute;
}
.ui-collapsible-content {
    display: block;
    padding: 10px 0 10px 8px;
}
.ui-collapsible-content-collapsed {
    display: none;
}
.ui-collapsible-set {
    margin: 0.5em 0;
}
.ui-collapsible-set .ui-collapsible-contain {
    margin: -1px 0 0;
}
.ui-controlgroup, fieldset.ui-controlgroup {
    margin: 0.5em 0 1em;
    padding: 0;
}
.ui-bar .ui-controlgroup {
    margin: 0 0.3em;
}
.ui-controlgroup-label {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 0.3em;
}
.ui-controlgroup-controls {
    display: block;
    width: 95%;
}
.ui-controlgroup li {
    list-style: none outside none;
}
.ui-controlgroup-vertical .ui-btn, .ui-controlgroup-vertical .ui-checkbox, .ui-controlgroup-vertical .ui-radio {
    border-bottom-width: 0;
    margin: 0;
}
.ui-controlgroup-vertical .ui-controlgroup-last {
    border-bottom-width: 1px;
}
.ui-controlgroup-horizontal {
    padding: 0;
}
.ui-controlgroup-horizontal .ui-btn, .ui-controlgroup-horizontal .ui-checkbox, .ui-controlgroup-horizontal .ui-radio {
    display: inline-block;
    margin: 0 -5px 0 0;
}
.ui-controlgroup-horizontal .ui-checkbox, .ui-controlgroup-horizontal .ui-radio {
    display: inline;
}
.ui-controlgroup-horizontal .ui-checkbox .ui-btn, .ui-controlgroup-horizontal .ui-radio .ui-btn, .ui-controlgroup-horizontal .ui-checkbox:last-child, .ui-controlgroup-horizontal .ui-radio:last-child {
    margin-right: 0;
}
.ui-controlgroup-horizontal .ui-controlgroup-last {
    margin-right: 0;
}
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    font-size: 16px;
}
.min-width-480px .ui-controlgroup-label {
    display: inline-block;
    margin: 0 2% 0 0;
    vertical-align: top;
    width: 20%;
}
.min-width-480px .ui-controlgroup-controls {
    display: inline-block;
    width: 60%;
}
.ui-dialog {
    min-height: 480px;
}
.ui-dialog .ui-header, .ui-dialog .ui-content, .ui-dialog .ui-footer {
    margin: 15px;
    position: relative;
}
.ui-dialog .ui-header, .ui-dialog .ui-footer {
    width: auto;
    z-index: 10;
}
.ui-dialog .ui-content, .ui-dialog .ui-footer {
    margin-top: -15px;
}
.ui-checkbox, .ui-radio {
    margin: 0.2em 0 0.5em;
    position: relative;
    z-index: 1;
}
.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    margin: 0;
    text-align: left;
    z-index: 2;
}
.ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner {
    padding-left: 45px;
}
.ui-checkbox .ui-btn-icon-right .ui-btn-inner, .ui-radio .ui-btn-icon-right .ui-btn-inner {
    padding-right: 45px;
}
.ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {
    left: 15px;
}
.ui-checkbox .ui-btn-icon-right .ui-icon, .ui-radio .ui-btn-icon-right .ui-icon {
    right: 15px;
}
.ui-checkbox input, .ui-radio input {
    height: 10px;
    left: 20px;
    margin: -5px 0 0;
    outline: 0 none !important;
    position: absolute;
    top: 50%;
    width: 10px;
    z-index: 1;
}
.ui-field-contain {
    background: none repeat scroll 0 50% transparent;
    border-bottom-width: 1px;
    margin: 0;
    overflow: visible;
    padding: 1.5em 0;
}
.ui-field-contain:first-child {
    border-top-width: 0;
}
.min-width-480px .ui-field-contain {
    border-width: 0;
    margin: 1em 0;
    padding: 0;
}
.ui-select {
    display: block;
    position: relative;
}
.ui-select select {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.ui-select .ui-btn {
    overflow: hidden;
}
.ui-select .ui-btn select {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    width: 100%;
}
.ui-select .ui-btn select.ui-select-nativeonly {
    opacity: 1;
}
.ui-select .ui-btn-icon-right .ui-btn-inner {
    padding-right: 45px;
}
.ui-select .ui-btn-icon-right .ui-icon {
    right: 15px;
}
label.ui-select {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 0.3em;
}
.ui-select .ui-btn-text, .ui-selectmenu .ui-btn-text {
    display: inline-block;
    min-height: 1em;
}
.ui-select .ui-btn-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-selectmenu {
    max-width: 350px;
    padding: 6px;
    position: absolute;
    width: 80%;
    z-index: 100 !important;
}
.ui-selectmenu .ui-listview {
    margin: 0;
}
.ui-selectmenu .ui-btn.ui-li-divider {
    cursor: default;
}
.ui-selectmenu-hidden {
    left: -9999px;
    top: -9999px;
}
.ui-selectmenu-screen {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.ui-screen-hidden, .ui-selectmenu-list .ui-li .ui-icon {
    display: none;
}
.ui-selectmenu-list .ui-li .ui-icon {
    display: block;
}
.ui-li.ui-selectmenu-placeholder {
    display: none;
}
.ui-selectmenu .ui-header .ui-title {
    margin: 0.6em 46px 0.8em;
}
.min-width-480px label.ui-select {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 20%;
}
.min-width-480px .ui-select {
    display: inline-block;
    width: 60%;
}
.ui-selectmenu .ui-header h1:after {
    content: ".";
    visibility: hidden;
}
label.ui-input-text {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 0.3em;
}
input.ui-input-text, textarea.ui-input-text {
    background-image: none;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding: 0.4em;
    width: 95%;
}
input.ui-input-text {
}
textarea.ui-input-text {
    -moz-transition: height 200ms linear 0s;
    height: 50px;
}
.ui-input-search {
    background-position: 8px 50%;
    background-repeat: no-repeat;
    padding: 0 30px;
    position: relative;
    width: 77%;
}
.ui-input-search input.ui-input-text {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    margin: 0;
    outline: 0 none !important;
    padding: 0.4em 0;
    width: 98%;
}
.ui-input-search .ui-input-clear {
    margin-top: -14px;
    position: absolute;
    right: 0;
    top: 50%;
}
.ui-input-search .ui-input-clear-hidden {
    display: none;
}
.min-width-480px label.ui-input-text {
    vertical-align: top;
}
.min-width-480px label.ui-input-text {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 20%;
}
.min-width-480px input.ui-input-text, .min-width-480px textarea.ui-input-text, .min-width-480px .ui-input-search {
    display: inline-block;
    width: 60%;
}
.min-width-480px .ui-input-search {
    width: 50%;
}
.min-width-480px .ui-input-search input.ui-input-text {
    width: 98%;
}
.ui-listview {
    counter-reset: listnumbering;
    margin: 0;
}
.ui-content .ui-listview {
    margin: -15px;
}
.ui-content .ui-listview-inset {
    margin: 1em 0;
}
.ui-listview, .ui-li {
    list-style: none outside none;
    padding: 0;
}
.ui-li, .ui-li.ui-field-contain {
    border-width: 1px 0 0;
    display: block;
    margin: 0;
    overflow: visible;
    position: relative;
    text-align: left;
}
.ui-li .ui-btn-text a.ui-link-inherit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-li-divider, .ui-li-static {
    font-size: 14px;
    font-weight: bold;
    padding: 0.5em 15px;
}
.ui-li-divider {
    counter-reset: listnumbering;
}
ol.ui-listview .ui-link-inherit:before, ol.ui-listview .ui-li-static:before, .ui-li-dec {
    content: counter(listnumbering, decimal) ". ";
    counter-increment: listnumbering;
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    padding-right: 0.3em;
}
ol.ui-listview .ui-li-jsnumbering:before {
    content: "" !important;
}
.ui-listview-inset .ui-li {
    border-left-width: 1px;
    border-right-width: 1px;
}
.ui-li:last-child, .ui-li.ui-field-contain:last-child {
    border-bottom-width: 1px;
}
.ui-li > .ui-btn-inner {
    display: block;
    padding: 0;
    position: relative;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    display: block;
    padding: 0.7em 75px 0.7em 15px;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    min-height: 60px;
    padding-left: 100px;
}
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon {
    min-height: 20px;
    padding-left: 40px;
}
.ui-li-heading {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0.6em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-li-desc {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: -0.5em 0 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-li-thumb, .ui-li-icon {
    left: 1px;
    max-height: 80px;
    max-width: 80px;
    position: absolute;
    top: 0;
}
.ui-li-icon {
    left: 10px;
    max-height: 40px;
    max-width: 40px;
    top: 0.9em;
}
.ui-li-thumb, .ui-li-icon, .ui-li-content {
    float: left;
    margin-right: 10px;
}
.ui-li-aside {
    float: right;
    margin: 0.3em 0;
    text-align: right;
    width: 50%;
}
.min-width-480px .ui-li-aside {
    width: 45%;
}
.ui-li-divider {
    cursor: default;
}
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
    padding-right: 95px;
}
.ui-li-count {
    font-size: 11px;
    font-weight: bold;
    margin-top: -0.9em;
    padding: 0.2em 0.5em;
    position: absolute;
    right: 38px;
    top: 50%;
}
.ui-li-divider .ui-li-count, .ui-li-static .ui-li-count {
    right: 10px;
}
.ui-li-has-alt .ui-li-count {
    right: 55px;
}
.ui-li-link-alt {
    border-width: 0 0 0 1px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.ui-li-link-alt .ui-btn {
    border-bottom-width: 1px;
    margin: -11px 0 0;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 50%;
}
.ui-li-link-alt .ui-btn-inner {
    padding: 0;
    position: static;
}
.ui-li-link-alt .ui-btn .ui-icon {
    margin-right: -9px;
    right: 50%;
}
.ui-listview-filter {
    border-width: 0;
    margin: -15px -15px 15px;
    overflow: hidden;
}
.ui-listview-filter .ui-input-search {
    display: block;
    margin: 5px;
    width: auto;
}
.ui-listview-filter-inset {
    background: none repeat scroll 0 0 transparent;
    margin: -15px -5px;
}
.ui-li .ui-btn-text {
    overflow: visible;
}
label.ui-slider {
    display: block;
}
input.ui-slider-input, .min-width-480px input.ui-slider-input {
    display: inline-block;
    width: 50px;
}
select.ui-slider-switch {
    display: none;
}
div.ui-slider {
    display: inline-block;
    height: 15px;
    margin: 0 2% 0 20px;
    overflow: visible;
    padding: 0;
    position: relative;
    top: 4px;
    width: 66%;
}
a.ui-slider-handle {
    height: 28px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 28px;
    z-index: 10;
}
a.ui-slider-handle .ui-btn-inner {
    padding-left: 0;
    padding-right: 0;
}
.min-width-480px label.ui-slider {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 20%;
}
.min-width-480px div.ui-slider {
    width: 45%;
}
div.ui-slider-switch {
    height: 32px;
    margin-left: 0;
    overflow: hidden;
}
div.ui-slider-inneroffset {
    height: 100%;
    margin-left: 50%;
    position: absolute;
    top: 1px;
    width: 50%;
}
div.ui-slider-handle-snapping {
}
div.ui-slider-labelbg {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 0;
}
div.ui-slider-switch div.ui-slider-labelbg-a {
    height: 100%;
    left: 0;
    width: 60%;
}
div.ui-slider-switch div.ui-slider-labelbg-b {
    height: 100%;
    right: 0;
    width: 60%;
}
.ui-slider-switch-a div.ui-slider-labelbg-a, .ui-slider-switch-b div.ui-slider-labelbg-b {
    z-index: -1;
}
.ui-slider-switch-a div.ui-slider-labelbg-b, .ui-slider-switch-b div.ui-slider-labelbg-a {
    z-index: 0;
}
div.ui-slider-switch a.ui-slider-handle {
    height: 32px;
    margin-left: -101%;
    margin-top: -18px;
    width: 101%;
    z-index: 20;
}
span.ui-slider-label {
    background: none repeat scroll 0 50% transparent;
    border-color: transparent;
    font-size: 16px;
    height: 32px;
    line-height: 2;
    position: absolute;
    text-align: center;
    width: 100%;
}
span.ui-slider-label-a {
    left: -100%;
    margin-right: -1px;
}
span.ui-slider-label-b {
    margin-left: -1px;
    right: -100%;
}
body {
    background: none repeat scroll 0 0 #DDDDDD;
}
.video-tag, .audio-tag {
    margin: 0;
    padding: 0;
    width: 100%;
}
.bottom-toolbar .ui-btn .ui-btn-inner {
    padding-top: 40px !important;
}
.bottom-toolbar .ui-btn .ui-icon {
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
}
.icon-complete span.ui-icon {
    background: url("../jqm1p4/images/icons-18-white.png") repeat scroll 0 0 green;
}
.icon-complete span.ui-icon-check {
    background-position: -252px 50%;
}
.icon-inprogress span.ui-icon {
    background: url("../jqm1p4/images/icons-18-white.png") repeat scroll 0 0 orange;
}
.icon-inprogress span.ui-icon-check {
    background-position: -252px 50%;
}
.dashboardicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll 0 0 transparent;
}
.homeicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -30px 0 transparent;
}
.courseicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -120px 0 transparent;
}
.inboxicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -60px 0 transparent;
}
.settingsicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -90px 0 transparent;
}
.active span.dashboardicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll 0 30px transparent;
}
.active span.homeicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -30px 30px transparent;
}
.active span.courseicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -120px 30px transparent;
}
.active span.inboxicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -60px 30px transparent;
}
.active span.settingsicon {
    background: url("images/icons/ipad_sprite.png") repeat scroll -90px 30px transparent;
}
.toolbar-icon {
    display: block;
    height: 30px !important;
    left: 50%;
    margin-left: -15px !important;
    margin-top: 2px;
    position: absolute;
    width: 30px !important;
}
.toolbar-a {
    cursor: pointer;
    display: block !important;
    position: relative !important;
    text-align: center !important;
}
.ui-li-downloaded {
    background: url("images/icons/40-inbox_2.png") no-repeat scroll 50% 50% transparent;
    height: 30px !important;
    margin-top: -1.1em;
    padding: 0.2em 0.5em;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px !important;
}
.timer {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 5px 1px 3px;
    position: absolute;
    right: 1px;
    text-align: right;
    text-shadow: 0 -1px 1px #666666;
    top: 44px;
    z-index: 10000;
}
.timer span {
    float: left;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100px;
}
.box-mobile-a {
    border-radius: 5px 5px 5px 5px;
    font-size: 0.7em;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 2px 5px;
}
.box-mobile-right {
    margin-top: -0.8em;
    position: absolute;
    right: 38px;
    top: 50%;
}
.box-mobile {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    padding: 0.2em 0.5em;
}
.line-tip {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}
.line-text {
    font-size: 12px;
    font-weight: normal;
    margin-left: 75px;
    padding-right: 5px;
}
.search-container {
    margin: -15px;
    padding: 15px;
}
.box-mobile-inline {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    min-width: 70px;
    padding: 0.2em 0.5em;
    text-align: center;
    width: 70px;
}
.box-mobile-left {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    left: 5px;
    margin-top: -0.9em;
    min-width: 70px;
    padding: 0.2em 0.5em;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 #000000;
    top: 50%;
    width: 70px;
}
.box-red {
    background-color: #FF3300;
    border-color: #FF3300;
}
.box-lightorange {
    background-color: #FF8635;
    border-color: #FF8635;
}
.box-orange {
    background-color: orange;
    border-color: orange;
}
.box-green {
    background-color: #009900;
    border-color: #009900;
}
.box-grey {
    background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #666666 !important;
}
.box-grey-orange {
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    color: orange !important;
}
.box-grey-lightorange {
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    color: #FF8635 !important;
}
.box-grey-blue {
    background-color: #DCDCDC;
    border-color: #DCDCDC;
    color: #006699 !important;
}
.box-yellow {
    background-color: #FFFF99;
    border-color: #FFFF99;
    color: #666666 !important;
}
.box-blue {
    background-color: #006699;
    border-color: #006699;
    color: #FFFFFF !important;
}
.box-lightblue {
    background-color: #99CCFF;
    border-color: #99CCFF;
    color: #444444 !important;
}
.ui-mobile [data-role="subpage"], .ui-subpage {
    border: 0 none;
    display: none;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-mobile .ui-subpage-active {
    display: block;
    overflow: visible;
}
.super-nav {
    margin: 0;
    padding: 0;
}
.super-nav li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.super-nav li a, .super-nav li a:visited, .super-nav li a:link {
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    text-decoration: none;
}
.toolbar-text {
    color: white;
    font-size: 10px;
    height: 80px;
    line-height: 80px;
}
.course-title {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    margin: -10px -10px 20px;
    padding: 10px;
}
.course-title h3 {
    font-size: 14px;
    margin: 2px;
}
.course-title p {
    font-size: 11px;
}
.line-item {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    margin: 0 0 20px;
    padding: 10px;
}
.info-panel {
    background-color: #FFFFFF;
    border: 1px dashed #CCCCCC;
    clear: both;
    color: #444444;
    margin-bottom: 10px;
    padding: 10px;
}
.info-panel h3 {
    color: #333333;
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
}
.info-panel .body {
    padding: 10px;
}
.easy-read {
    line-height: 1.3em;
}
.tip, .tip-important {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}
.tab-container {
    background: url("images/toolbar-fade.png") repeat scroll 0 0 #333333;
    color: #666666;
    margin: -30px -15px 15px;
    padding-top: 5px;
}
.tabs {
    margin-left: -35px;
    padding: 0;
}
.tabs li {
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    margin: 0 10px;
    padding: 0 10px;
}
.tabs li.selected {
    background-color: #EEEEEE;
    color: #666666;
    font-weight: bold;
}
.tabs li.selected .ui-link {
    color: #666666;
    text-shadow: 0 1px 0 #FFFFFF;
}
.tabs li .ui-link {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #666666;
}
.review-question {
    border-top: 1px solid #DCDCDC;
    font-weight: bold;
    padding: 5px !important;
}
.review-answer {
    background-color: #F2F0F5;
    padding: 10px !important;
}
.table-content {
    border-spacing: 0;
    height: 1000px;
    margin: -15px;
}
.table-content td.menu {
    background: url("images/toolbar-fade.png") repeat scroll 0 0 #333333;
    margin-left: -15px;
    margin-top: 0;
}
.table-content td.content {
    padding: 15px;
    width: 100%;
}
.super-nav2 {
    border-spacing: 0;
    color: #666666;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 #666666;
    width: 90px;
}
.super-nav2 li {
    float: left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    width: 90px;
}
.super-nav2 li a, .super-nav2 li a:visited, .super-nav2 li a:link {
    color: #DDDDDD;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    text-decoration: none;
}
img.mini-pic {
    border: 1px solid #FFFFFF;
    float: left;
    height: 20px;
    margin-right: 5px;
}
.header-text {
    font-size: 11px;
    text-shadow: 0 0 0 #666666;
}
.ipad-menu {
    border-spacing: 0;
    color: #333333;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 white;
    width: 80px;
}
.ipad-menu li {
    border-top: 1px solid #AAAAAA;
    cursor: pointer;
    font-weight: bold;
}
.ipad-menu li.selected {
    background: -moz-linear-gradient(center top , #85BAE4, #5393C5) repeat scroll 0 0 #4596CE;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: medium none;
    text-decoration: none;
    text-shadow: 0 -1px 1px #145072;
}
.ipad-menu a {
    display: block;
    padding: 10px 10px 10px 15px;
    position: relative;
}
.ipad-menu li.selected a.ui-link-inherit {
    color: white;
}
.field-label {
    color: #666666;
    display: block;
    font-family: Verdana;
    font-size: 12px;
    padding: 2px;
}
.field-input {
    width: 95%;
}
.page-panel {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    clear: both;
    margin: 5px auto;
    max-width: 900px;
    padding: 20px;
}
.page-panel h2 {
    margin: 0;
}
.page-panel h3 {
    margin: 0;
}
.as-question {
    float: left;
    max-width: 500px;
    width: 100%;
}
.as-image {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    float: right;
    max-width: 360px;
    padding: 7px;
}
.clear {
    clear: both;
}
.custom-btn {
    cursor: pointer;
    display: block;
    margin: 0 5px 2px;
    padding: 0;
    position: relative;
    text-align: center;
}
.custom-btn-crn {
    border-radius: 8px 8px 8px 8px;
}
.custom-btn-inner {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0 0 0 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon_go {
    background: url("images/icons/circle-play.png") no-repeat scroll 0 4px transparent;
    color: #444444;
    display: inline-block;
    font-weight: bold;
    line-height: 32px;
    padding-left: 35px;
    padding-right: 10px;
    text-shadow: 0 1px 1px #F6F6F6;
}
.list-heading {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #666666;
}
.body-dent {
    background-color: #F2F0F5;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    margin: 10px;
    padding: 10px;
}
.float-right {
    float: right;
}
.ui-header {
}
.bubble {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    margin: -10px -10px 20px;
    padding: 10px;
}
.disable-q {
    display: none !important;
}
.loading-splash {
    background: none repeat scroll 0 0 #2A2A2A;
    border-radius: 2px 2px 2px 2px;
    height: 1500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.answer-text span {
    white-space: normal;
}
.ppt-container {
    float: left;
    position: relative;
}
.ppt-frame {
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}
.ppt-items {
    left: 0;
    position: absolute;
    top: 0;
}
.ppt-items img {
    float: left;
}
.ppt-paging {
    line-height: 40px;
    text-align: center;
}
.ppt-paging a {
    color: #333333;
    padding: 5px;
    text-decoration: none;
}
.ppt-paging a.active {
    background: none repeat scroll 0 0 #111111;
    border: 1px solid #333333;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight: bold;
}
.next-slide {
    background-image: url("images/icons-36-black.png");
    background-position: -215px 2px;
    border: 1px solid transparent;
    display: block !important;
    height: 36px;
    padding: 2px;
    width: 36px;
}
.prev-slide {
    background-image: url("images/icons-36-black.png");
    background-position: -285px 2px;
    border: 1px solid transparent;
    display: block !important;
    height: 36px;
    padding: 2px;
    width: 36px;
}
.next-slide:hover, .prev-slide:hover {
    background-color: #CCCCCC;
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
}
a.btn-green {
    background-color: #83BC49;
    color: #FFFFFF;
}
a.btn-grey {
    background-color: whiteSmoke;
    color: #666666;
}
a.btn-red {
    background-color: #D14836;
    color: #FFFFFF;
}
a.btn-green, a.btn-grey, a.btn-red {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
}
.cal-icon {
    background: -moz-linear-gradient(center top , #FEFEFE, #CCCCCC) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 2px #888888;
    color: #000000;
    float: left;
    font: bold 16px/32px Arial Black,Arial,Helvetica,sans-serif;
    margin: 0.2em 8px 0 0;
    padding-top: 2px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 40px;
}
.cal-icon em {
    background: -moz-linear-gradient(center top , #04599A, #00365A) repeat scroll 0 0 transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #00365A;
    color: #FFFFFF;
    display: block;
    font: bold 10px/18px Arial,Helvetica,sans-serif;
    text-shadow: 0 -1px 0 #00365A;
    text-transform: uppercase;
}
.cal-icon:before, .cal-icon:after {
    background: none repeat scroll 0 0 #111111;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px #FFFFFF;
    content: "";
    float: left;
    height: 6px;
    position: absolute;
    top: 2px;
    width: 6px;
    z-index: 1;
}
.cal-icon:before {
    left: 7px;
}
.cal-icon:after {
    right: 7px;
}
.cal-icon em:before, .cal-icon em:after {
    background: -moz-linear-gradient(center top , #F1F1F1, #AAAAAA) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    content: "";
    float: left;
    height: 10px;
    position: absolute;
    top: -5px;
    width: 2px;
    z-index: 2;
}
.cal-icon em:before {
    left: 9px;
}
.cal-icon em:after {
    right: 9px;
}
