/* 
    Document   : style_sale_course
    Created on : Jul 12, 2012, 10:44:39 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/
body {
margin: 0;
padding: 0;
color: #010101;
font-family: 'Droid Sans',sans-serif;
height: 100%;

}
.container_12, .container_16 {
margin-left: auto;
margin-right: auto;
width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
display: inline;
float: left;
margin-left: 5px;
margin-right: 5px;
}
div {
display: block;
}

.container_12, .container_16 {
background-color: white;
}
element.style {
    width: 110px;
    height: 20px;
}

.org-name {
margin: 0;
padding: 10px 0 39px 10px;
font-size: 19px;
font-weight: normal;
}

h1 {
font-size: 24px;
font-weight: 700;
color: #333;
}

h1 {
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.p-title {
border-top: solid 1px #EEE;
border-bottom: solid 1px #EEE;
margin-bottom: 20px;
padding: 0 10px;
background-color: white;
}
table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
table.grid {
border-collapse: collapse;
width: 100%;
}

tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}

table.grid tr td {
padding: 0;
margin: 3px 0;
}
table.grid tr td {
padding: 10px!important;
border-bottom: solid 1px #EEE;
vertical-align: middle;
}
user agent stylesheettd, th {
display: table-cell;
vertical-align: inherit;
}

div.title, div.title a, div.title a:link, div.title:visited, label.title {
font-weight: bold;
color: #333;
text-decoration: none;
}
div.title, div.title a, div.title a:link, div.title:visited, label.title {
font-weight: bold;
color: #333;
text-decoration: none;
}

.desc-tip {
color: #666;
font-size: 14px;
font-weight: normal;
padding: 5px 10px;
}

.nowrap {
white-space: nowrap;
}

td, th {
display: table-cell;
vertical-align: inherit;
}

.powered-by, .powered-by a, .powered-by a:link, .powered-by a:visited {
padding: 10px 0;
color: #CCC;
font-style: italic;
font-size: 12px;
text-decoration: none;
}

.profile-box {
font-size: 12px;
color: #444;
}

.signup-box, .side-bar-links, .profile-box {
padding: 10px;
border-left: solid 1px #EEE;
margin-bottom: 10px;
}

.container_12 .grid_12, .container_16 .grid_16 {
width: 950px;
}

tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

.container_16 .grid_11 {
width: 640px;
}

.box-tag-green, .box-tag-green span {
background-color: #090;
border-color: #090;
}
.box-tag {
border-width: 1px 0;
border-style: solid;
margin: 0 1px;
padding: 0!important;
display: inline-block;
}
.box-tag span, .box-tag a {
border-width: 0 1px;
margin: 0 -1px;
padding: 1px 3px!important;
border-style: solid;
display: inline-block;
font-size: 10px!important;
font-weight: normal;
text-align: center;
color: white;
}
 a, a:visited {
color: #06F;
text-decoration: none;
}

a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}


.container_16 .grid_5 {
width: 280px;
}

.profile-box {
font-size: 12px;
color: #444;
}
.signup-box, .side-bar-links, .profile-box {
padding: 10px;
border-left: solid 1px #EEE;
margin-bottom: 10px;
}
user agent stylesheetdiv {
display: block;
}


.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
padding: 0 2px;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
float: left;
}

.at300b, .at300bo, .at300m, .at300bs {
cursor: pointer;
}

.widget-link {
margin: 10px 0;
}

input[type="submit"], input.green-btn {
background-image: -webkit-gradient(linear,left top,left bottom,from(#70A33C),to(#83BC49));
background-image: -webkit-linear-gradient(top,#70A33C,#83BC49);
-webkit-border-radius: 2px;
-webkit-user-select: none;
background-color: #70A33C;
background-image: linear-gradient(top,#70A33C,#83BC49);
background-image: -o-linear-gradient(top,#70A33C,#83BC49);
border: 1px solid gainsboro;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;
color: white;
cursor: pointer;
font-size: 14px;
font-weight: bold;
height: 29px;
line-height: 27px;
margin: 11px 6px;
min-width: 54px;
padding: 0 10px;
text-align: center;
}

a, a:visited {
color: #06F;
text-decoration: none;
}
.cancel-link {
text-decoration: none;
}
a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

table.grid tr td.ecom-remove {
width: 150px;
text-align: right;
padding: 2px;
}

.box-tag-grey, .box-tag-grey span {
background-color: #E4E4E4;
border-color: #E4E4E4;
color: #666!important;
}
.box-tag {
border-width: 1px 0;
border-style: solid;
margin: 0 1px;
padding: 0!important;
display: inline-block;
}

a, a:visited {
color: #06F;
text-decoration: none;
}
.box-tag-red, .box-tag-red span {
background-color: #F30;
border-color: #F30;
}

.box-tag span, .box-tag a {
border-width: 0 1px;
margin: 0 -1px;
padding: 1px 3px!important;
border-style: solid;
display: inline-block;
font-size: 10px!important;
font-weight: normal;
text-align: center;
color: white;
}
table.grid tr td.ecom-footer {
border-top: solid 2px #CCC;
border-bottom: solid 0 white;
padding: 5px;
font-size: 12px;
}
.float-right {
float: right;
}
Inherited from td.ecom-footer
table.grid tr td.ecom-footer {
font-size: 12px;
}
.container_16 .grid_5 {
width: 280px;
}
.signup-box, .side-bar-links, .profile-box {
padding: 10px;
border-left: solid 1px #EEE;
margin-bottom: 10px;
}
user agent stylesheetdiv {
display: block;
}
form {
margin: 0;
padding: 0;
height: 100%;
}
.signup-form th {
text-align: right;
font-weight: normal;
}
.signup-form th, .signup-form td {
padding: 5px 1px;
vertical-align: middle;
}
.signup-form th {
color: #333;
font-size: 12px;
}
.p-title {
border-top: solid 1px #EEE;
border-bottom: solid 1px #EEE;
margin-bottom: 20px;
padding: 0 10px;
background-color: white;
}
.help-text{
    font-size: 10px;
    height: 13px;
    width: 113px;
}

