/*
    Document   : style
    Created on : Mar 26, 2012, 11:23:36 PM
    Author     : Dell
    Description:
        Purpose of the stylesheet follows.
*/



body {
    background: url("images/bgtile.gif") repeat scroll -70% 0 #F0F0F0;
    color: #010101;
    height: 100%;
    padding: 10px;
}

.title-login{
    font-family: 'Charmonman', cursive;
    font-weight: bold;
}

.login-zone {
	margin: 0 auto;
    padding: 20px;
    width: 650px;
}
.login-box {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    padding: 20px;
   	height: 420px;
}
.intro {
    color: #666666;
}
.info {
    color: #444444;
    line-height: 1.4em;
    padding: 10px 0;
}
/*.login-form {
    text-align: center;
}*/

.login-welcome {
    text-align: center;
}
.login-field input {
    font-size: 18px;
    padding: 3px;
    width: 220px;
}
.login-cbx {
    padding: 0 0 10px;
}
.form-login{
    width: 300px;
    margin:0 auto;
}
.ip_login{
    margin: 25px 0;
}
.login-welcome {
    font-size: 12px;
}
.login-field label {
    color: #666666;
    display: block;
    font-family: Verdana;
    font-size: 12px;
    padding: 2px;
}
.login-cbx label {
    color: #666666;
    font-family: Verdana;
    font-size: 11px;
}
.login-button input {
    font-size: 20px;
}
.login-forgot a {
    font-size: 11px !important;
}
.login-forgot  {
    line-height: 10px;
}
a, a:visited {
    color: #0066FF;
    text-decoration: none;
}
.login-failed {
    color: #DC143C;
    font-weight: bold;
    padding: 0 0 15px;
    text-align: center;
}
div.error{
    color: red;
}
