<?php // $Id: mod.html,v 1.5 2006/10/07 12:28:57 gustav_delius Exp $
/**
 * This page defines the form to create or edit an instance of this module
 * It is used from /course/mod.php.  The whole instance is available as $form.
 *
 * @author 
 * @version $Id: mod.html,v 1.5 2006/10/07 12:28:57 gustav_delius Exp $
 * @package manage
 **/

/// First we check that form variables have been initialised
if (!isset($form->name)) {
    $form->name = '';
}
// More similar blocks go here...
?>

<form name="form" method="post" action="mod.php">
<center>
<table cellpadding="5">
<tr valign="top">
    <td align="right"><b><?php  print_string("name") ?>:</b></td>
    <td>
        <input type="text" name="name" size="30" value="<?php  p($form->name) ?>" />
    </td>
</tr>
<!-- More rows go in here... -->

<!-- The following line for Moodle 1.5 prints the visibility setting form element -->
<?php print_visible_setting($form); ?>
<!-- and if your module uses groups you would also have -->
<?php print_groupmode_setting($form); ?>

</table>
<!-- These hidden variables are always the same -->
<input type="hidden" name=course        value="<?php  p($form->course) ?>" />
<input type="hidden" name="sesskey"     value="<?php  p($form->sesskey) ?>" />
<input type="hidden" name=coursemodule  value="<?php  p($form->coursemodule) ?>" />
<input type="hidden" name=section       value="<?php  p($form->section) ?>" />
<input type="hidden" name=module        value="<?php  p($form->module) ?>" />
<input type="hidden" name=modulename    value="<?php  p($form->modulename) ?>" />
<input type="hidden" name=instance      value="<?php  p($form->instance) ?>" />
<input type="hidden" name=mode          value="<?php  p($form->mode) ?>" />
<input type="submit" value="<?php  print_string("savechanges") ?>" />
</center>

</form>
